{% extends "base.html" %}

{% block content %}
<div class="container">

  <div class="row mb-4">
    <div class="col">
      <div class="btn-group" role="group" aria-label="Meal Type">
        <button type="button" class="btn btn-secondary rounded-circle me-2 meal-type-btn" data-meal-type="breakfast">B</button>
        <button type="button" class="btn btn-secondary rounded-circle me-2 meal-type-btn" data-meal-type="lunch">L</button>
        <button type="button" class="btn btn-secondary rounded-circle meal-type-btn" data-meal-type="dinner">D</button>
      </div>
    </div>
  </div>

    <div class="row">
        {% for recipe in page_obj %}
        <div class="col-lg-4 pb-4" id="recipe-card">
            <div class="card h-100">
                <a href=""><img class="card-img-top recipe-img" src="{{ recipe.image.url }}" alt="{{recipe.title}}"></a>
                <div class="card-body">
                    <h5 class="card-title" ><a class="recipe-title" href="{% url "recipes:detail" recipe.id %}">{{ recipe.title }} </a></h5>
                    <p class="card-text">
                    </p>
                    <p class="card-text">
                      <i class="bi bi-person"></i>
                      <span id=""><a href="{% url "follows:user_recipes" recipe.author %}" class="text-secondary" style="text-decoration:none">{{recipe.author}}</a></span>

                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url "shopping:add" recipe.id %}" class="btn btn-sm btn-outline-success add">Add to Cart</a>
                        </div>
                        <div class="btn-group">
                          {% if recipe in favorites %}
                              <a href="{% url 'favorites:remove' recipe.id %}" class="btn btn-sm btn-danger favorite-btn" data-recipe-id="{{ recipe.id }}"><i class="bi bi-heart-fill"></i></a>
                          {% else %}
                              <a href="{% url 'favorites:add' recipe.id %}" class="btn btn-sm btn-outline-secondary favorite-btn" data-recipe-id="{{ recipe.id }}"><i class="bi bi-heart"></i></a>
                          {% endif %}
                        </div>
                    </div>
                  </div>
                <div class="card-footer text-muted text-truncate">
                      {% for tag in recipe.tags %}
                        <span class="badge rounded-pill recipe-badge">
                            <a href="" class="text-decoration-none text-white">#{{ tag }}</a>
                        </span>
                      {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row m-3">
        <div class="col">
            <div class="d-flex justify-content-center">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                      </a>
                    </li>
                  {% endif %}
                  {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                      <li class="page-item active">
                        <a class="page-link" href="#">{{ num }} <span class="sr-only">(current)</span></a>
                      </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
        </div>

</div>
{% endblock %}


{% block inline_javascript%}
<script>
  $(document).ready(function() {
    $(".favorite-btn").click(function(event) {
      event.preventDefault();
      var recipe_id = $(this).attr("data-recipe-id");
      var url = $(this).attr("href");
      var btn = $(this);

      $.ajax({
        type: "POST",
        url: url,
        data: {
          recipe_id: recipe_id,
          csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function(response) {
          if (btn.hasClass("btn-outline-secondary")) {
            btn.removeClass("btn-outline-secondary");
            btn.addClass("btn-danger");
            btn.find("i").removeClass("bi-heart");
            btn.find("i").addClass("bi-heart-fill");
          } else {
            btn.removeClass("btn-danger");
            btn.addClass("btn-outline-secondary");
            btn.find("i").removeClass("bi-heart-fill");
            btn.find("i").addClass("bi-heart");
          }
        },
        error: function(xhr, status, error) {
          console.error(xhr.responseText);
        }
      });
    });
  });
  </script>
{% endblock %}
