{% extends "base.html" %}

{% block content %}
<div class="container">

  <h1 class="display-6  mb-4">Favorites</h1>

  {% comment %} <div class="row mb-4">
    <div class="col">
      <div class="btn-group" role="group" aria-label="Meal Type">
        <button type="button" class="btn btn-secondary rounded-circle me-2 meal-type-btn" data-meal-type="breakfast">B</button>
        <button type="button" class="btn btn-secondary rounded-circle me-2 meal-type-btn" data-meal-type="lunch">L</button>
        <button type="button" class="btn btn-secondary rounded-circle meal-type-btn" data-meal-type="dinner">D</button>
      </div>
    </div>
  </div> {% endcomment %}

    {% comment %} Row display list of cards {% endcomment %}
    <div class="row">
        {% for favorite in page_obj %}
        <div class="col-lg-4 pb-4" id="recipe-card">
          <div class="card h-100 recipe-card">
            <a href=""><img class="card-img-top recipe-img" src="{{ favorite.recipe.image.url }}" alt="{{favorite.recipe.title}}"></a>
            <div class="card-body">
              <h5 class="card-title"><a class="recipe-title" href="{% url "recipes:detail" favorite.recipe.id %}">{{ favorite.recipe.title }} </a></h5>
              <p class="card-text"></p>
              <p class="card-text">
                <i class="bi bi-person"></i>
                <span class="recipe-author"><a href="{% url "follows:user_recipes" favorite.recipe.author %}" class="text-secondary" style="text-decoration:none">{{favorite.recipe.author}}</a></span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form id="add-to-cart-form" action="{% url 'shopping:add' favorite.recipe.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="recipe_id" value="{{ .favorite.recipe.id }}">
                    <button class="btn btn-sm btn-outline-success add" onclick="addToShoppingList(event)">Add to Cart</button>
                  </form>
                </div>
                <div class="btn-group">
                  <form action="{% url 'recipes:detail' favorite.recipe.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="recipe_id" value="{{ favorite.recipe.id }}">
                    <button href="{% url 'favorites:remove' favorite.recipe.id %}" class="btn btn-sm favorite-btn"><i class="bi bi-heart-fill"></i></button>
                  </form>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted text-truncate">
              {% for tag in favorite.recipe.tags %}
                <span class="badge rounded-pill recipe-badge">
                  <a href="" class="text-decoration-none text-white">#{{ tag }}</a>
                </span>
              {% endfor %}
            </div>
          </div>
      </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
