{% extends "base.html" %}

{% block content%}

<div class="container mb-5">

  <h1 class="display-4  mb-4">Shopping List</h1>


    {% for shopping in page_obj%}
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{shopping.recipe.image.url}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <blockquote>
              <h5>{{shopping.recipe.title}}</h5>
              <small><cite title="Source Title">
                {% for meal_type in shopping.recipe.meal_type %}
                {{meal_type}},
                {% endfor %}
                <i class="icon-map-marker"></i></cite></small>
            </blockquote>
            <p>
              {% for ingredient in shopping.recipe.ingredients.all %}
              {{ingredient.name}},
              {% endfor %}
            </p>
            <a href="{% url "shopping:remove" shopping.id %}" class="btn btn-outline-secondary">Remove</a>
          </div>
        </div>
      </div>
    </div>


    {% endfor %}
    <dic class="row">
      {% comment %} download button {% endcomment %}
      <div class="col-12">
        <a href="{% url 'shopping:download' %}" class="btn btn-outline-secondary">Download List <i class="bi bi-download"></i></a>
      </div>
  </div>
</div>


{% endblock content%}
