{% extends "base.html" %}

{% block content %}

<div class="container my-5">
  <h1 class="display-4 mb-4">Shopping List</h1>
{% for shopping in page_obj %}
<div class="row">
  <div class="col-md-6">
    <img src="{{ shopping.recipe.image.url }}" alt="" class="rounded-circle float-start me-3 profile-img">
    <h5 class="profile-name">{{ shopping.recipe.title }}</h5>
    <p class="profile-email">{{ shopping.recipe.description }}</p>
    {% comment %} delete button at far end {% endcomment %}
    <form action="{% url 'shopping:remove' shopping.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-danger btn-sm">
        <i class="bi bi-trash me-2"></i>Delete
      </button>

  </div>
</div>
{% endfor %}

  <div class="row">
    <div class="col-12 text-center">
      <a href="{% url 'shopping:download' %}" class="btn btn-outline-secondary btn-sm">
        <i class="bi bi-download me-2"></i>Download List
      </a>
    </div>
  </div>
</div>
{% endblock content %}
