{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1 class="display-6  mb-4">Subsriptions</h1>
  {% for follows in page_obj%}
  <div class="row">
    <div class="col-md-6 details">
      <blockquote>
        <h5>{{follows.following.username}}</h5>
        <small><cite title="Source Title">
          Im a food lover and I love to cook. I like to share my recipes, mainly desserts, but I also like to share main dishes and appetizers. <br>
          <i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        {{ follows.following.bio }}
      </p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-sm-4">
      <div class="card emphasis">
          <div class="card-body text-center">
              <h2 class="card-title"><strong>
                {{follows.following.followers.all|length}}
              </strong></h2>
              <p class="card-text"><small>Followers</small></p>
              {% if follows.following.username in following %}
                <a href="{% url "follows:unfollow" follows.following.username %}" class="btn btn-outline-success btn-block"><span class="bi bi-person-plus"></span> Follow</a>
              {% else %}
                <a href="{% url "follows:follow" follows.following.username %}" class="btn btn-outline-success btn-block"><span class="bi bi-person-plus"></span> Follow</a>
              {% endif %}
              </div>
      </div>
  </div>
  <div class="col-12 col-sm-4">
      <div class="card emphasis">
          <div class="card-body text-center">
              <h2 class="card-title"><strong>
                {{follows.following.following.all|length}}
              </strong></h2>
              <p class="card-text"><small>Following</small></p>
              <button class="btn btn-outline-info btn-block"><span class="bi bi-person-check"></span> Following</button>
          </div>
      </div>
  </div>
  <div class="col-12 col-sm-4">
    <div class="card emphasis">
        <div class="card-body text-center">
            <h2 class="card-title"><strong>
              {{follows.following.recipes.all|length}}
            </strong></h2>
            <p class="card-text"><small>Recipes</small></p>
            <a href="{% url "follows:user_recipes" follows.following.username %}" class="btn btn-outline-primary btn-block">View Recipe</a>
        </div>
    </div>
  </div>
</div>
  {% endfor %}
</div>
{% endblock content %}
