{% extends "base.html" %}

{% block content %}
<div class="container">
  {% for recipe in page_obj%}
  <div class="row">
    <div class="col-md-6">
      <img src="https://via.placeholder.com/200/" alt="" class="rounded-circle float-start me-3">
      <h5>{{ user.username }}</h5>
      <p> {{ user.email }}</p>
      <p> Im  a food lover and i love to cook</p>
      {% if user in following %}
  <a href="{% url 'follows:unfollow' user.username %}" class="btn btn-outline-danger"><i class="bi bi-person-fill-dash"></i> Unfollow</a>
{% else %}
  <a href="{% url 'follows:follow' user.username %}" class="btn btn-outline-success"><i class="bi bi-person-fill-add"></i> Follow</a>
{% endif %}

    </div>
  </div>
  <div class="row my-5">
    {% for recipe in user.recipes.all %}
    <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="card h-100">
            <a href=""><img class="card-img-top recipe-img" src="{{ recipe.image.url }}" alt="{{recipe.title}}"></a>
            <div class="card-body">
                <h5 class="card-title" ><a class="recipe-title" href="{% url "recipes:detail" recipe.id %}">{{ recipe.title }} </a></h5>
                <p class="card-text">
                </p>
                <p class="card-text">
                  {% comment %} person icon and name {% endcomment %}
                  <i class="bi bi-person"></i>
                  <span id=""><a href="" class="text-secondary" style="text-decoration:none">{{recipe.author}}</a></span>

                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url "shopping:add" recipe.id %}" class="btn btn-sm btn-outline-success add">Add to Cart</a>
                    </div>
                    <div class="btn-group">
                      {% if recipe not in favorites %}
                          <a href="{% url 'favorites:remove' recipe.id %}" class="btn btn-sm btn-danger favorite-btn" data-recipe-id="{{ recipe.id }}"><i class="bi bi-heart-fill"></i></a>
                      {% else %}
                          <a href="{% url 'favorites:add' recipe.id %}" class="btn btn-sm btn-outline-secondary favorite-btn" data-recipe-id="{{ recipe.id }}"><i class="bi bi-heart"></i></a>
                      {% endif %}
                    </div>
                </div>
              </div>
            <div class="card-footer text-muted text-truncate">
                  {% for tag in recipe.tags %}
                    <span class="badge rounded-pill recipe-badge">
                        <a href="" class="text-decoration-none text-white">#{{ tag }}</a>
                    </span>
                  {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock content %}
